.racer_table td {
  background-color: white;
  height: 20px;
  width: 20px;
  border-top: 1px solid #000;
  border-right: 1px solid #000;
  border-bottom: 1px solid #000;
}

.racer_table td.active {
  background-color: black;
}
