.start_light {
  height: 30px;
  width: 30px;
  border-radius: 30px;
  background-color: #fff;
  border: 1px solid black;
  position: absolute;
  top: 8px;
  left: 300px;
}

.racer_table {
  position: absolute;
  top: 50px;
  left: 50px;
  
}

.racer_table td {
  background-color: white;
  height: 20px;
  width: 25px;
  border: 1px solid #000;
}

.racer_table td.active {
  background-color: black;
}

.login_form {
  position: absolute;
  top: 50px;
  left: 20px;
}
