<div class="start_light"></div>

<table class="racer_table">
  <tr data-player1_id="<%= @player_1.id %>" id="player1_strip">
    <th><%= @player_1.name %></th>
    <td class="active"></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  <tr data-player2_id="<%= @player_2.id %>" id="player2_strip">
    <th><%= @player_2.name %></th>
    <td class="active"></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
</table>

<div class="results">
    <ul>
        <li id="player">Player: </li>
        <li id="score">Time: </li>
    </ul>
</div>