<div class="login_form">
    <form action="/login" method="post">
        <label for="initials_1">Player 1<input type="text" id="initials_1" name="player_1"></label>
        <label for="initials_2">Player 2<input type="text" id="initials_2" name="player_2"></label>
        <input type="submit" value="Submit">
    </form>
</div>
