<form action="/result/:player_id/:time" method="POST">
    <label for="">winner</label><input type="text" name="winner">
    <label for="">time</label><input type="text" name="time">
    <input type="submit" value="submit">
</form>